body {
background:#E4E4E4;
color: #292929;
font: Cambria;
text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
margin:0;
}

ol, ul, li {
list-style:none;
}

a {
color:#89101;
text-decoration:none;
transition: 0.2 s color linear;
}
a:hover {
color:#DF3030;
}

#page {
background: url("images/rag.png") repeat-x;
padding: 2rem 0;
}

img {
max-width:100%;
}
h1 {
background:url(images/logo-bg.png) no-repeat  50% 0;
}

h1 a {
padding-top:117px;
height:162px;
display:block;
text-align:center;
}
.main h2 {
background:url(images/ornament.png);
font-size:1.4rem;
text-transform:lowercase;
text-align:center;
margin: 0.75rem 0 1rem;
}

.main h2 {
background:url("images/bg.png");
padding: 0 1rem;
}

.amp {
font-family:"Baskerville";
font-style:italic;
}



